<section style="background-color: #F8F9FA">
    <br><br><br>
    <div class="container">
        <div class="col">

            <div class="col-12">
                <div class="bg-white rounded shadow-sm py-5 px-4 shadow">
                    <h5 class="mb-0">Deepak Aneja</h5><span class="small text-uppercase text-muted">Bit's N Bytes
                        (Developers)</span>

                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">

                        <div class="bg-white rounded shadow-sm py-5 px-4 shadow card">
                            <h5 class="mb-0">Deepak Aneja</h5>
                            <div class="">
                                <img src="../../assets/images/lady.jpg"
                                    style="float: right; height:70px; width:70px;margin-top:-10%;position: inherit;" />
                            </div>

                            <div class="scrollable">
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-white rounded shadow-sm py-5 px-4 shadow card">
                            <h5 class="mb-0">Deepak Aneja</h5>
                            <div class="">
                                <img src="../../assets/images/men.jpg"
                                    style="float: right; height:70px; width:70px;margin-top:-10%;position: inherit;" />
                            </div>

                            <div class="scrollable">
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 ">
                <div class="bg-white rounded shadow-sm py-5 px-4 shadow">
                    <h5 class="mb-0">Deepak Aneja</h5><span class="small text-uppercase text-muted">Bit's N Bytes
                        (Developers)</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light pb-5" style="margin-top: 5%;">
        <div class="container text-center">
            <p class="font-italic text-muted mb-0">&copy; Copyrights DB.com All rights reserved.</p>
        </div>
    </footer>
</section>