<section style="background-color: #F8F9FA">
    <br><br><br>
    <div class="container">
        <div class="col">

            <div class="col-12">
                <div class="bg-white rounded shadow-sm py-5 px-4 shadow">
                    <h5 class="mb-0" style="font-family:  Tahoma, Geneva, Verdana, sans-serif ; font-size: 2.5vw;">Carbon Credit Usage</h5>
                    <br>
                    <hr>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="" style="margin-left:10%;">
                                    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 1.5vw;"><strong>Assigned: </strong>100 Units</p>
                                    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 1.5vw;"><strong>Used: </strong>30 Units</p>
                                    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 1.5vw;"> <strong>Current Balance: </strong>70 Units</p>
                                </div>
                            </div>
                            <div class="col-md-8">

                                <div id="chartContainer" style="height: 250px;margin-left:35%; width:30%;margin-top:-10%;"></div>

                            </div>
                        </div>

                    </div>




                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">

                        <div class="bg-white rounded shadow-sm py-5 px-4 shadow card">
                            <h5 class="mb-0" style="font-family:  Tahoma, Geneva, Verdana, sans-serif ; font-size: 2vw;">Carbon Credit Consumption</h5>
                            <div class="">
                                <img src="../../assets/images/lady.jpg"
                                    style="float: right; height:70px; width:70px;margin-top:-10%;position: inherit;" />
                            </div>

                            <div class="scrollable">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-white rounded shadow-sm py-5 px-4 shadow card">
                            <h5 class="mb-0" style="font-family:  Tahoma, Geneva, Verdana, sans-serif ; font-size: 2vw;">Carbon Credit Allocation</h5>
                            <div class="">
                                <img src="../../assets/images/men.jpg"
                                    style="float: right; height:70px; width:70px;margin-top:-10%;position: inherit;" />
                            </div>

                            <div class="scrollable">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 ">
                <div class="bg-white rounded shadow-sm py-5 px-4 shadow" style="margin-left:2">
                    <h5 class="mb-0"  style="font-family:  Tahoma, Geneva, Verdana, sans-serif ; font-size: 2vw;">Buy-Sell Carbon Credit</h5>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <strong> Remaining Carbon Credit: </strong><br>
                            60 Units

                        </div>

                        <div class="col-6">
                            <button type="button" class="btn btn-success" style="width: 60%">Sell</button>
                            <br><br>
                            <button type="button" class="btn btn-danger" style="width: 60%">Buy</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="col-12 ">
                <div class="bg-white rounded shadow-sm py-5 px-4 shadow">
                    <h5 class="mb-0"  style="font-family:  Tahoma, Geneva, Verdana, sans-serif ; font-size: 2vw;">Recommendation</h5>
                    <br>
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action " id="list-home-list" data-toggle="list"
                            href="#list-home" role="tab" aria-controls="home">Cycle to Work</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            href="#list-profile" role="tab" aria-controls="profile">Switch Off Appliances at the End of
                            the Day</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            href="#list-messages" role="tab" aria-controls="messages">Use Hybrid Company Cars</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                            href="#list-settings" role="tab" aria-controls="settings">Replace Business Trips with Video
                            Conferencing</a>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <footer class="bg-light pb-5" style="margin-top: 5%;">
        <div class="container text-center">
            <p class="font-italic text-muted mb-0">&copy; Copyrights DB.com All rights reserved.</p>
        </div>
    </footer>
</section>