<div class="col-md-12" style="margin-top: 4%;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                    <div class="col-md-2">
                        
                        </div>
                    <div class="col-md-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header">CO2 Credit Usages</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">180/1000</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-4">
                            <a routerLink="/" class="aLink">
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                        <div class="card-header">CO2 Consumption</div>
                                        <div class="card-body">
                                            <h5 class="card-title">Secondary card title</h5>
                                            <p class="card-text">200 units Electricity <br> 100 units Diesel <br> 300 units CNG</p>
                                        </div>
                                    </div></a>
                        </div>
                        <div class="col-md-2">
                        
                            </div>
            </div>
        </div>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                        <div class="col-md-4" >
                              <a routerLink="/" class="aLink">
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                        <div class="card-header">Credit Survive Time</div>
                                        <div class="card-body">
                                            <h5 class="card-title">Primary card title</h5>
                                            <p class="card-text">2 Weeks</p>
                                        </div>
                                    </div></a>
                            </div>
                    
                            <div class="col-md-4">
                                <a routerLink="/login" class="aLink">
                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Reduce Consumption</div>
                                    <div class="card-body">
                                        <h5 class="card-title"> Steps to reduce Consumption</h5>
                                        <p class="card-text">1) Dont use <br> 2) Stop using vehicle for short distance.</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-2">
                        
                                </div>
                </div>
            </div>
    </div>
</div>